.wp-caption
    max-width: 100%
    margin-bottom: $default-line-height
    img
        display: block
        height: auto
        width: 100%
        margin: 0
        padding: 0
        border: 0
    p
        margin: 0
        
    .wp-caption-dt
        display: block
                        
    .wp-caption-text,
    .wp-caption-dd
        display: block
        padding: 0
        margin: 0
        font-size: 14px
        line-height: 27px
        color: $black-clr
        opacity: 0.5
        font-style: italic
        padding: 12px 0 13px
        border-bottom: 1px solid  $text-clr
        +breakpoint-max(767)
            font-size: 12px
            line-height: 18px
            padding: 10px 0 5px