.global-wrapper
    min-width: 320px
    padding-top: $topbar-height
    box-sizing: border-box
    position: relative
    width: 100%
    min-height: 100%
    padding-bottom: $footer-height

.main-wrapper
    box-sizing: border-box
    overflow: hidden
    width: 100%
    position: relative

.wrapper-outer
    max-width: $wrapper-outer
    margin: 0 auto
    padding-left: $wrapper-padding
    padding-right: $wrapper-padding
    box-sizing: border-box
    +breakpoint-max(1024)
        padding-left: $wrapper-padding/2
        padding-right: $wrapper-padding/2

.wrapper-inner
    max-width: $wrapper-inner
    margin: 0 auto

.wrapper-content
    max-width: $wrapper-content
    margin: 0 auto

#content
    @extend .wrapper-outer
    padding-top: 40px
    padding-bottom: 40px
    +breakpoint-max(767)
        padding-top: 20px
        padding-bottom: 20px