.about-section
	padding: 50px 0
	margin-bottom: 60px
	background: $blue
	color: $white
	overflow: hidden

	.wrapper-outer
		+clearfix

	.title
		font-size: 24px
		font-weight: 800

	.description
		float: left
		position: relative
		width: 375 / 1340 * 100%
		margin-right: 290 / 1340 * 100%
		z-index: 5
		&:before
			content: ''
			display: block
			position: absolute
			width: 60px
			height: 1000px
			background: $white
			border-left: 10000px solid $pink
			z-index: -1
			right: 120px
			top: 50%
			transform: rotate(30deg) translateY(-50%)
			transform-origin: right

	.info-container
		display: flex
		position: relative
		float: right
		width: 675 / 1340 * 100%
		+clearfix

	.column
		width: 300 / 675 * 100%

	.info-item
		width: 100%
		padding-right: 50px
		box-sizing: border-box
		margin-bottom: 30px
		+clearfix
		&.big
			width: 375 / 675 * 100%
			.icon
				width: 45 / 375 * 100%
				margin-right: 35 / 375 * 100%
			.text-container
				width: 290 / 375 * 100%
			p
				margin-bottom: 20px
		.icon
			float: left
			width: 45 / 300 * 100%
			margin-right: 35 / 300 * 100%
			font-style: normal
			.sprite-icon
				max-width: 100%
			.sprite-icon-point
				width: 42px
				height: 58px
			.sprite-icon-distance
				width: 58px
				height: 65px
			.sprite-icon-t-shirt
				width: 61px
				height: 53px
			.sprite-icon-heart
				width: 53px
				height: 53px
		.text-container
			float: left
			width: 220 / 300 * 100%
		p
			display: block
		small
			display: block
			font-size: 11px
			line-height: 1
	&.final
		position: relative
		.thumbnail-container
			position: absolute
			right: 0
			top: 0
			width: 66%
			height: 100%
			img
				position: absolute
				width: auto
				height: auto
				min-width: 100%
				min-height: 100%
				max-width: none
				left: 50%
				transform: translateX(-50%)
		.description
			strong, p
				font:
					size: 24px
				line-height: 28px
			p
				margin-bottom: 20px


