.main-navigation
	padding: 10px 0
	color: $white
	background: rgba($black, .6)
	.wrapper-outer
		display: flex
		align-items: center
	.custom-logo-link
		margin-right: 45 / 1340 * 100%
		max-width: 75px
		max-height: 95px
	.menu
		width: 100%
		font-size: 16px
		font-weight: 600
		a
			display: inline-block
			max-width: 100px
			margin-right: 50 / 1340 * 100%
			vertical-align: middle
			text-align: center
			color: $white
			text-decoration: none
			+hover
				color: $yellow-warm
			&:last-of-type
				margin-right: 0