.main-navigation
	padding: 10px 0
	color: $white
	background: rgba($black, .6)
	.wrapper-outer
		display: flex
		align-items: center
		justify-content: space-between
	.custom-logo-link
		margin: -5px 45 / 1340 * 100% -5px 0
		max-width: 150px
		max-height: 95px
		img
            display: block

		+breakpoint-max(767)
			max-width: 75px
			order: 0
	.menu
		width: 100%
		font-size: 16px
		font-weight: 600
		display: flex
		align-items: center
		justify-content: space-around
		flex-wrap: wrap
		transition: .3s ease
		+breakpoint-max(767)
			position: absolute
			height: calc(100vh - 150px)
			overflow-y: scroll
			left: 0
			top: 0
			padding: 15px 0
			transform: translateY(-100%)
			background: rgba($black, .8)
			z-index: -1
		&-item
			max-width: 110px
			margin-right: 50 / 1340 * 100%
			margin-top: 5px
			margin-bottom: 5px
			vertical-align: middle
			text-align: center
			text-decoration: none
			+breakpoint-max(767)
				max-width: none
				display: block
				margin: 10px 0
				width: 100%
			&:last-of-type
				margin-right: 0
			&:hover, &.current-menu-item, &.current-menu-ancestor
				a
					color: $yellow-warm
			&.menu-item-has-children:after
				content: ''
				position: absolute
				margin: auto
				top: calc(50% - 1px)
				right: -20px
				width: 0
				height: 0
				border-left: 5px solid transparent
				border-right: 5px solid transparent
				border-top: 5px solid #fff
				+breakpoint-max(767)
					display: none
		&-item-has-children
			position: relative
			& > a
				+breakpoint-max(767)
					color: $yellow-warm !important
			+hover
				.sub-menu
					transform: translateY(100%)
					opacity: 1
					pointer-events: auto
		.sub-menu
			min-width: 220px
			max-width: 300px
			position: absolute
			padding-top: 15px
			bottom: 0
			left: -20px
			opacity: 0
			transform: translateY(calc(100% - 15px))
			pointer-events: none
			transition: transform .3s ease, opacity .3s ease
			+breakpoint-max(767)
				min-width: 0
				max-width: none
				position: relative
				left: 0
				opacity: 1
				transform: none
				pointer-events: auto
			.menu-item
				display: block
				max-width: none
				margin:
					right: 0
					top: 0
					bottom: 0
				background: $white
				color: $black-clr
				text-align: left
				font-weight: 400
				+breakpoint-max(767)
					background: transparent
					color: $white
					text-align: center
					font-weight: 600
					margin: 0
				+hover
					color: $yellow-warm
					background: $light-gray
				a
					display: block
					padding: 10px 20px
					color: inherit
					&:before
						+breakpoint-max(767)
							content: '— '
		a
			color: $white
	.registration
		position: relative
		margin-left: 50 / 1340 * 100%
		padding: 15px 30px 15px 15px
		width: 195px
		box-sizing: border-box
		+bodyclass(page-template-registration)
			display: none
		+breakpoint-max(767)
			float: right
			width: 160px
			margin-left: 0
			padding: 10px 20px 10px 5px
			order: 1
			font-size: 11px
		&:after
			content: ''
			position: absolute
			margin: auto
			top: calc(50% - 2px)
			right: 10px
			width: 0
			height: 0
			border-left: 5px solid transparent
			border-right: 5px solid transparent
			border-top: 5px solid $yellow-warm
			transition: border .3s ease
		&:hover
			opacity: 1
			border-color: $orange
			color: $orange
			&:after
				border-top: 5px solid $orange
			.sub-menu
				transform: translateY(100%)
				opacity: 1
				pointer-events: auto
				+breakpoint-max(767)
					transform: translateY(100%) translateX(-50%)
		.sub-menu
			min-width: 220px
			max-width: 300px
			position: absolute
			padding-top: 15px
			bottom: 0
			right: 0
			opacity: 0
			transform: translateY(calc(100% - 15px))
			pointer-events: none
			transition: transform .3s ease, opacity .3s ease
			+breakpoint-max(767)
				left: 50%
				right: auto
				transform: translateY(calc(100% - 15px)) translateX(-50%)
			.menu-item
				display: block
				max-width: none
				margin:
					right: 0
					top: 0
					bottom: 0
				background: $white
				color: $black-clr
				text-align: left
				font-weight: 400
				+hover
					color: $yellow-warm
					background: $light-gray
				a
					display: block
					padding: 10px 20px
					color: inherit
