.personal-info
	max-width: 600px
	margin: 0 auto 40px

	.edit-info
		display: block
		min-width: 180px
		margin: 0 auto
		padding: 5px 30px
		border-radius: 10px
		background: $pink
		color: $white
		font:
			size: 12px
			weight: 800
		line-height: 18px
		text-transform: uppercase
		cursor: pointer
		transition: opacity .3s ease
		+hover
			opacity: .8

		img
			position: relative
			top: 4px
			margin-right: 5px

		span
			display: inline-block
			margin: 5px 0
			position: relative
			top: -1px

	.info,
	.preliminary-price,
	.final-price
		margin: 40px 0 20px

		dt, dd
			display: inline-block
			width: 45%
			margin-bottom: 20px
			font:
				size: 14px
				weight: 800
			line-height: 20px
			+breakpoint-max(767)
				display: block
				width: 100%
				margin-bottom: 5px

		dt
			margin-right: 3%
			color: $placeholder-clr
			text-align: right
			+breakpoint-max(767)
				text-align: left

		dd
			color: $blue
			+breakpoint-max(767)
				padding-left: 50px
				margin-bottom: 20px

	.preliminary-price,
	.final-price
		margin: 0

		dt
			color: $pink

	.promo-group
		margin-bottom: 20px
		+clearfix
		p
			margin-left: 50px
			margin-bottom: 10px
			+breakpoint-max(767)
				margin-left: 0
		.promo-input
			width: 200px
			float: left
			margin:
				bottom: 0
				left: 50px
			padding: 8px 15px
			border: 2px solid $blue
			background: $white
			border-radius: 10px
			color: $blue
			font:
				size: 14px
			line-height: 20px
			box-sizing: border-box
			&.empty
				border-color: $input-hr-clr
			+placeholder
				color: $placeholder-clr
			+breakpoint-max(767)
				width: 150 / 280 * 100%
				margin: 0

		.promo-submit
			position: relative
			left: -15px
			width: 140px
			float: left
			padding: 10px 15px
			border-radius: 10px
			background: rgba($blue, 1)
			color: $white
			font:
				size: 11px
				weight: 800
			line-height: 20px
			text-transform: uppercase
			cursor: pointer
			transition: background .3s ease
			&[disabled]
				background: $input-hr-clr
                cursor: default
				+hover
            		background: $input-hr-clr
			+hover
				background: #5d53d8
			+breakpoint-max(767)
				width: 130 / 280 * 100%

	.user-name,
	.distance,
	.price
		text-align: center

	.user-name,
	.distance
		font:
			size: 24px
			weight: 800
		line-height: 30px

	.user-name
		color: $pink

	.distance
		color: $blue

	.price
		color: $placeholder-clr
		font:
			size: 20px
			weight: 700
		line-height: 30px

	.amount
		margin-left: 20px
		color: $pink
		font:
			size: 24px
			weight: 800

	.final-price
		.price
			text-align: left

	.promo-error
		position: relative
		top: -20px
		padding-left: 50px
		color: $error-clr
		font-size: 12px

	.promo-info
		color: gray
		font-size: 12px
		line-height: 16px
		margin: 20px

