.sprite-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.sprite-icon-calendar {
	// font-size:(13.7/10)*1em;
	width:(13.7/13.7)*1em;
}
.sprite-icon-check {
	// font-size:(93.5/10)*1em;
	width:(93.5/93.5)*1em;
}
.sprite-icon-clock {
	// font-size:(16/10)*1em;
	width:(16/16)*1em;
}
.sprite-icon-cross {
	// font-size:(93.5/10)*1em;
	width:(93.5/93.5)*1em;
}
.sprite-icon-distance {
	// font-size:(464.3/10)*1em;
	width:(409.5/464.3)*1em;
}
.sprite-icon-fb {
	// font-size:(78.2/10)*1em;
	width:(78.2/78.2)*1em;
}
.sprite-icon-heart {
	// font-size:(16/10)*1em;
	width:(16/16)*1em;
}
.sprite-icon-inst {
	// font-size:(80/10)*1em;
	width:(79/80)*1em;
}
.sprite-icon-language {
	// font-size:(16/10)*1em;
	width:(16/16)*1em;
}
.sprite-icon-person {
	// font-size:(23/10)*1em;
	width:(21.3/23)*1em;
}
.sprite-icon-point {
	// font-size:(80/10)*1em;
	width:(58/80)*1em;
}
.sprite-icon-t-shirt {
	// font-size:(207/10)*1em;
	width:(237/207)*1em;
}
.sprite-icon-youtube {
	// font-size:(80/10)*1em;
	width:(79/80)*1em;
}
